.gradle
/build/
/out/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.bin
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/resourceHashesCache.bin
addressbook-web-tests/.gradle/buildOutputCleanup/buildOutputCleanup.lock
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.ContactModificationTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.ContactModificationTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.GroupModificationTests.xml
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.lock
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/.gradle/7.4.2/checksums/checksums.lock
addressbook-web-tests/.gradle/7.4.2/checksums/md5-checksums.bin
addressbook-web-tests/.gradle/7.4.2/checksums/sha1-checksums.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.bin
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/resourceHashesCache.bin
addressbook-web-tests/.gradle/buildOutputCleanup/buildOutputCleanup.lock
addressbook-web-tests/.gradle/buildOutputCleanup/outputFiles.bin
addressbook-web-tests/.gradle/file-system.probe
addressbook-web-tests/build.gradle
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/generators/GroupDataGenerator.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/Contacts.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/Groups.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactInformationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.ContactCreationTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/css/style.css
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/js/report.js
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
addressbook-web-tests/build/resources/test/group.csv
addressbook-web-tests/build/resources/test/photoContact.jpg
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.ContactCreationTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.GroupModificationTests.xml
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/build/tmp/test/jar_extract_10467477880398158908_tmp
addressbook-web-tests/build/tmp/test/jar_extract_10923128592555803173_tmp
addressbook-web-tests/build/tmp/test/jar_extract_11405084016784541192_tmp
addressbook-web-tests/build/tmp/test/jar_extract_12173316178744439004_tmp
addressbook-web-tests/build/tmp/test/jar_extract_12183207568902488692_tmp
addressbook-web-tests/build/tmp/test/jar_extract_12446005754030528168_tmp
addressbook-web-tests/build/tmp/test/jar_extract_12589169521409712879_tmp
addressbook-web-tests/build/tmp/test/jar_extract_13127601601972786255_tmp
addressbook-web-tests/build/tmp/test/jar_extract_14320418627706024704_tmp
addressbook-web-tests/build/tmp/test/jar_extract_14818442444190162938_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15030218676727635661_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15383217274983240643_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15451632607265969044_tmp
addressbook-web-tests/build/tmp/test/jar_extract_15901132843678158939_tmp
addressbook-web-tests/build/tmp/test/jar_extract_16021904143643396797_tmp
addressbook-web-tests/build/tmp/test/jar_extract_16132587674450954190_tmp
addressbook-web-tests/build/tmp/test/jar_extract_16348498081695454839_tmp
addressbook-web-tests/build/tmp/test/jar_extract_16565645732886797417_tmp
addressbook-web-tests/build/tmp/test/jar_extract_16944190988252689588_tmp
addressbook-web-tests/build/tmp/test/jar_extract_17029466253206501285_tmp
addressbook-web-tests/build/tmp/test/jar_extract_17042271014571795566_tmp
addressbook-web-tests/build/tmp/test/jar_extract_17277268947081263707_tmp
addressbook-web-tests/build/tmp/test/jar_extract_17467303686975435054_tmp
addressbook-web-tests/build/tmp/test/jar_extract_1803260661502956201_tmp
addressbook-web-tests/build/tmp/test/jar_extract_2606407750022265554_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4037267333802910663_tmp
addressbook-web-tests/build/tmp/test/jar_extract_4492796410333758832_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5083327114952858460_tmp
addressbook-web-tests/build/tmp/test/jar_extract_5152946088337397309_tmp
addressbook-web-tests/build/tmp/test/jar_extract_6660886526573142707_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8099331662567052012_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8245956510424147572_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8530977140211509307_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8574331908059034790_tmp
addressbook-web-tests/build/tmp/test/jar_extract_8915683875858679275_tmp
addressbook-web-tests/build/tmp/test/jar_extract_9345219289384401792_tmp
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/.gradle/7.4.2/checksums/checksums.lock
addressbook-web-tests/.gradle/7.4.2/checksums/md5-checksums.bin
addressbook-web-tests/.gradle/7.4.2/checksums/sha1-checksums.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.bin
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/resourceHashesCache.bin
addressbook-web-tests/.gradle/buildOutputCleanup/buildOutputCleanup.lock
addressbook-web-tests/.gradle/buildOutputCleanup/outputFiles.bin
addressbook-web-tests/.gradle/file-system.probe
addressbook-web-tests/build.gradle
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/css/style.css
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/js/report.js
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.GroupModificationTests.xml
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/.gradle/7.4.2/checksums/checksums.lock
addressbook-web-tests/.gradle/7.4.2/checksums/md5-checksums.bin
addressbook-web-tests/.gradle/7.4.2/checksums/sha1-checksums.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.bin
addressbook-web-tests/.gradle/7.4.2/executionHistory/executionHistory.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.bin
addressbook-web-tests/.gradle/7.4.2/fileHashes/fileHashes.lock
addressbook-web-tests/.gradle/7.4.2/fileHashes/resourceHashesCache.bin
addressbook-web-tests/.gradle/buildOutputCleanup/buildOutputCleanup.lock
addressbook-web-tests/.gradle/buildOutputCleanup/outputFiles.bin
addressbook-web-tests/.gradle/file-system.probe
addressbook-web-tests/build.gradle
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/HelperBase.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/appmanager/SessionHelper.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/build/classes/java/test/ru/stqa/pft/addressbook/tests/TestBase.class
addressbook-web-tests/build/reports/tests/test/classes/ru.stqa.pft.addressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/css/style.css
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/js/report.js
addressbook-web-tests/build/reports/tests/test/packages/ru.stqa.pft.addressbook.tests.html
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/TEST-ru.stqa.pft.addressbook.tests.GroupModificationTests.xml
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ApplicationManager.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/ContactHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/GroupHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/appmanager/NavigationHelper.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/ContactData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/model/GroupData.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/ContactModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupCreationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupDeletionTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/GroupModificationTests.class
addressbook-web-tests/out/test/classes/ru/stqa/pft/addressbook/tests/TestBase.class
